[submodule "CoEVP"]
	path = CoEVP
	url = git@github.com:exmatex/CoEVP.git
[submodule "flann"]
	path = flann
	url = git@github.com:mariusmuja/flann.git 
[submodule "charm"]
	path = charm
	url = http://charm.cs.uiuc.edu/gerrit/charm
